<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/css/common/footer.css">
    <!--    <link rel="stylesheet" href="/css/template/template.css"> &lt;!&ndash; 문서 기본 화면 배치/기본 폰트 등 기본 설정 &ndash;&gt;-->

    <title>TechTree</title>

</head>
<body class="template--body">


<!-- ----------------------------------------------- -->


<!-- Template-footer 시작 -->
<footer class="template--footer" th:fragment="TechTreeFooter">
    <aside class="template--leftAside"></aside>
    <section class="template--Section">

        <!-- footer 시작 -->
        <footer class="common--footerContainer">
            <img style="height: 130px;width: 130px;" src="/images/TechTree.png" alt="로고" class="common--footerLogo">
            <div>
                <b><a href="https://github.com/2024-techtree/techtree">TechTree</a></b>
                <hr>
                멋쟁이사자처럼<br>
                팀장: <a href="https://github.com/bukwon">김부권</a> |
                팀원:
                <a href="https://github.com/ujgon">유장곤</a>
                <a href="https://github.com/J-Cheol">전화철</a>
                <a href="https://github.com/jyh1108">정용화</a>
                <a href="https://github.com/hbs530">현범석</a>
                <br> <a href="https://github.com/2024-techtree/techtree">GitHub :
                https://github.com/2024-techtree/techtree</a>
                <br>Copyright © 2024 TechTree All Right Reserved<br>
            </div>
            <div class="common--footerRight">
                <a href="/">공지사항</a>
                <a href="/">1:1문의</a>
            </div>
        </footer>
        <!-- footer 끝 -->


    </section>
    <aside class="template--rightAside"></aside>
</footer>
<!-- Template-footer 끝 -->


<!-- ----------------------------------------------- -->

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>
</html>
