.chat__messages {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #666666;
}

.chat__messages li {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    max-width: 70%;
    align-self: flex-start;
    background-color: #ffffff;
}

.chat__messages li.sent {
    align-self: flex-end; /* 내 메시지를 오른쪽으로 배치 */
    background-color: #d4edda; /* 내 메시지 배경색 설정 */
}

body {
    background-color: #f0f0f0;
}

.chat__messages li {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    max-width: 70%; /* 메시지 너비 제한 */
    align-self: flex-start; /* 상대방 메시지를 왼쪽으로 배치 */
    background-color: #ffffff; /* 메시지 배경색 설정 */
}