<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/domain/saving/goal_create.css">

    <!-- 부트 스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<title>저축 목표 입력</title>
<body>

<!-- ----------------------------------------------- -->

<!-- Template-header 시작 -->
<header th:replace="~{layout/header :: TechTreeHeader}"></header>
<!-- Template-header 끝 -->

<!-- ----------------------------------------------- -->

<div class="form-container">
    <form action="/saving/goal/create" method="post" id="savingGoalForm">
        <label for="goalName" class="form-label">저축 목표 이름 </label>
        <input type="text" id="goalName" name="goalName" required maxlength="30" class="form-control">
        <br>

        <label for="goalType" class="form-label">저축 목표 유형 </label>
        <select id="goalType" name="goalType" required class="form-control">
            <option value="정기 예금">정기 예금</option>
            <option value="정기 적금">정기 적금</option>
            <option value="자유 적금">자유 적금</option>
            <!-- 다른 유형 추가 가능 -->
        </select>
        <br>

        <label for="goalPrice" class="form-label">저축 목표 금액 </label>
        <input type="text" id="goalPrice" name="goalPrice" required maxlength="17" class="form-control">
        <br>

        <label for="startDate" class="form-label">저축 목표 시작일 </label>
        <input type="date" id="startDate" name="startDate" required class="form-control">
        <br>

        <label for="endDate" class="form-label">저축 목표 종료일 </label>
        <input type="date" id="endDate" name="endDate" required class="form-control">
        <br>

        <label for="currentPrice" class="form-label">저축 현재 금액 </label>
        <input type="text" id="currentPrice" name="currentPrice" required maxlength="17" class="form-control">
        <br>

        <button class="input-button" type="submit">입력</button>
    </form>
</div>

<!-- Template-footer 시작 -->
<footer th:replace="~{layout/footer :: TechTreeFooter}"></footer>
<!-- Template-footer 끝 -->

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous" defer></script>
<!-- js -->
<script src="/js/layout/header.js" defer></script>
<script src="/js/saving/goal/create.js" defer></script>
<script>

</script>
</body>
</html>
